body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  background-color: #F5F5F5;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
    line-height: 27px;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bloc {
  padding: 20px 30px;
  box-shadow: 0 5px 12px 0 rgba(217,226,233,0.5);
}
@media screen and (min-width: 768px) {
  .bloc {
    padding: 40px 70px;
  }
}

.ml-sm {
  margin-left: 10px;
}
.mr-sm {
  margin-right: 10px;
}
.mb-sm {
  margin-bottom: 10px;
}
.mb-xl {
  margin-bottom: 30px;
}
.mt-sm {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .mb-xl {
    margin-bottom: 60px;
  }
}

.blue-text {
  color: #00B8F1
}
.dark-blue-text {
  color: #0073C0
}
.green-blue-text {
  color: #23BEB9
}
.green-text {
  color: #87C846
}
.grey-text {
  color: #4A4A4A;
}
.green-background {
  background-color: #87C846
}
.blue-background {
  background-color: #00B8F1
}
.green-blue-background {
  background-color: #23BEB9
}
.dark-blue-background {
  background-color: #0073C0
}
.grey-text {
  color: #515151
}
