@mixin nv-button($color) {
  &.is-#{$color} {
    border-color: transparent;
    background-color: map-get($map: $nv-colors, $key: $color );
      color: white;
      &:hover {
        background-color: map-get($map: $nv-colors, $key: $color );
        border-color: transparent;
        color: white;
      }
      &:focus {
        color: white;
      }
      &:active {
        color: white;
      }
  }
}

button {
  @include nv-button(dark-blue);
  @include nv-button(green-blue);
  @include nv-button(blue);
  @include nv-button(green);
  @include nv-button(light-grey);
  @include nv-button(social-network-color);
}
