@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import '~bulma';

$primary: hsl(242, 100%, 76%);
$primary-invert: findColorInvert($primary);

$info: hsl(337, 55%, 58%);
$info-invert: findColorInvert($info);

$light: hsl(275, 20%, 83%);
$light-invert: findColorInvert($light);

$dark: hsl(0, 0%, 15%);
$dark-invert: findColorInvert($dark);

$link: hsl(242, 100%, 76%);
$link-invert: findColorInvert($link);

$link-hover: hsl(229, 19%, 66%);
$link-focus: hsl(229, 19%, 66%);

$strong-color: hsl(229, 19%, 66%);

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "link": ($link, $link-invert),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  background-color: #F5F5F5;
}

h1 {
  font-weight: 500;
  font-size: 20px;
  margin: 13px 0;
}

p {
  margin: 18px 0;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
  margin: 18px 0;
  li {
    display: list-item;
  }
}


@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
    line-height: 27px;
  }

  h1 {
    font-size: 26px;
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: #515151;
}
.nv-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bloc {
  padding: 20px;
  box-shadow: 0 5px 12px 0 rgba(217,226,233,0.5);
}
@media screen and (min-width: 768px) {
  .bloc {
    padding: 40px 70px;
  }
}

.ml-sm {
  margin-left: 10px;
}
.mr-sm {
  margin-right: 10px;
}
.mb-sm {
  margin-bottom: 10px;
}
.mb-md {
  margin-bottom: 20px;
}
.mb-xl {
  margin-bottom: 30px;
}
.mt-sm {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .mb-xl {
    margin-bottom: 60px;
  }
}

.blue-text {
  color: #00B8F1
}
.dark-blue-text {
  color: #0073C0
}
.green-blue-text {
  color: #23BEB9
}
.green-text {
  color: #87C846
}
.grey-text {
  color: #4A4A4A;
}
.light-green-background {
  background-color: #00CA9D
}
.green-background {
  background-color: #87C846
}
.blue-background {
  background-color: #00B8F1
}
.green-blue-background {
  background-color: #23BEB9
}
.dark-blue-background {
  background-color: #0073C0
}
.grey-text {
  color: #515151
}

.idea-tag {
  color: white;
  width: fit-content;
  padding: 2px 10px;
  display: inline-block;
  height: 27px;
  font-size: 14px;
}
